/*Global Rules*/
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
*:focus {
    outline: none;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* Start Sidebar */
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
    margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}
.sidebar > h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
}
.sidebar > h3::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    bottom: -29px;
    border: 4px solid white;
}
.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}
.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}
@media(max-width:767px) {
    .sidebar {
        width: 62px;
        padding: 10px;
    }
    .sidebar > h3 {
        margin-bottom: 15px;
        font-size: 13px;
    }
    .sidebar > h3::before,
    .sidebar > h3::after {
        display: none;
    }
}
/* End Sidebar */
/* Start Content */
.content {
overflow: hidden;
}
.content .head .search::before {
font-family: var(--fa-style-family-classic);
content: "\f002";
font-weight: 900;
position: absolute;
left: 15px;
top: 50%;
font-size: 14px;
color: var(--grey-color);
transform: translateY(-50%);
}
.content .head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}
.content .head .search input:focus {
    width: 200px;
    transition: 0.3s;
}
.content .head .search input:focus::placeholder {
    opacity: 0;
}
.content .head .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--red-color);
    top: -5px;
    right: -5px;
}
.content .head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}
.page h1 {
    margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -15px;
    left: 0;
}
.page h1::before {
    width: 120px;
    background-color: white;
}
.page h1::after {
    width: 40px;
    background-color: black;
}
.page .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width:767px) {
    .page .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
/* Start Welcome Widget */
.welcome {
    overflow: hidden;
}
.welcome .intro img {
    width: 200px;
    margin-bottom: -20px;
}
.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}
.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div {
    flex: 1;
}
.welcome .visit {
    margin: 0 15px 15px auto;
    transition: 0.3s;
}
.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}
@media (max-width:767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
    .welcome .avatar {
        margin-left: 0px;
    }
    .welcome .body > div:not(:last-child) {
        margin-bottom: 20px;
    }
}
/* End Welcome Widget */
/* Start quick draft Widget */
.quick-draft textarea {
    resize: none;
    min-height: 120px;
}
.quick-draft .save {
    margin: 0 15px 15px auto;
    cursor: pointer;
    transition: 0.3s;
}
.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}
/* End quick draft Widget*/
/* Start yearly targets */
.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.targets .details {
    flex: 1;
}
.targets .details .progress {
    height: 4px;
}
.targets .details .progress > span {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.targets .details .progress > span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
}
.targets .details .progress > span span::after {
    position: absolute;
    content: "";
    border: 5px solid;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
    border-color: var(--blue-color) transparent transparent transparent;
}
.targets .details .progress > .orange span::after {
    border-color: var(--orange-color) transparent transparent transparent;
}
.targets .details .progress > .green span::after {
    border-color: var(--green-color) transparent transparent transparent;
}
.blue .icon,
.blue .progress {
    background-color: rgba(0, 117, 255, 0.2);
}
.orange .icon,
.orange .progress {
    background-color: rgba(245, 158, 11, 0.2);
}
.green .icon,
.green .progress {
    background-color: rgba(34, 197, 94, 0.2);
}
/* End yearly targets */
/* Start tickets */
.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}
@media(max-width:767px) {
    .tickets .box {
        width: 100%;
    }
}
/* End tickets */
/* Start latest news */
.latest-news .news-row:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.latest-news .news-row img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}
.latest-news .info {
    flex-grow: 1;
}
.latest-news .info h3 {
    margin-bottom: 6px;
    font-size: 16px;
}
@media(max-width:767px) {
    .latest-news .news-row {
        flex-direction: column;
    }
    .latest-news .info {
        margin: 10px 0;
    }
}
/* End latest news */
/* Start tasks */
.tasks .task-row {
    margin-bottom: 15px;
    padding: 15px;
}
.tasks .task-row:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}
.tasks .info {
    flex-grow: 1;
}
.tasks .done {
    opacity: 0.3;
}
.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
}
.tasks .delete {
    cursor: pointer;
    transition: 0.3s;
}
.tasks .delete:hover {
    color: var(--red-color);
}
/* End tasks */
/* Start uploads */
.latest-uploads ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.latest-uploads ul li img {
    width: 40px;
    height: 40px;
}
/* End uploads */
/* Start Last Project */
.last-project ul::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    left: 11px;
    background-color: var(--blue-color);
}
.last-project ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    /* display: block; */
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}
.last-project ul li.done::before {
    background-color: var(--blue-color);
}
.last-project ul li.current::before {
    animation: change-color 0.8s infinite alternate;
}
.last-project .launch-icon {
    position: absolute;
    opacity: 0.4;
    bottom: 0;
    right: 0;
    width: 180px;
}
/* End Last Project */
/* Start reminders */
.reminders ul li .key {
    width: 15px;
    height: 15px;
}
.reminders ul li > .blue {
    border-left: 2px solid var(--blue-color);
}
.reminders ul li > .orange {
    border-left: 2px solid var(--orange-color);
}
.reminders ul li > .green {
    border-left: 2px solid var(--green-color);
}
.reminders ul li > .red {
    border-left: 2px solid var(--red-color);
}
/* End reminders */
/* Start last-post */
.latest-post .avatar {
    width: 64px;
    height: 64px;
}
.latest-post .post-content {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-transform: capitalize;
    line-height: 1.8;
    min-height: 140px;
}
/* End last-post */
/* Start social-media */
.social-media .box {
    padding-left: 70px;
}
.social-media .box i{
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: 0.3s;
}
.social-media .box i:hover {
    transform: rotate(5deg);
}
.social-media .twitter {
    background-color: #1da0f230;
    color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da0f2;
}
.social-media .facebook {
    background-color: #1877f230;
    color: #1877f2;
}
.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}
.social-media .youtube {
    background-color: #ff000030;
    color: #ff0000;
}
.social-media .youtube i,
.social-media .youtube a {
    background-color: #ff0000;
}
.social-media .linkedin {
    background-color: #0057b530;
    color: #0057b5;
}
.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0057b5;
}
/* Snd social-media */
/* Start Projects Table */
.projects .responsive-table {
    overflow-x: auto;
}
.projects table {
    min-width: 1000px;
    border-spacing: 0;
}
.projects thead td {
    background-color: #eee;
    font-weight: bold;
}
.projects table td {
    padding: 15px;
}
.projects tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: 0.3s;
}
.projects tbody tr td:last-child {
    border-right: 1px solid #eee;
}
.projects tbody tr:hover td {
    background-color: #faf7f7;
}
.projects table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}
.projects table img:not(:first-child) {
    margin-left: -20px;
}
/* End Projects Table */
/* End Content */
/* Start Settings page */
.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media(max-width:767px) {
    .settings-page {
        grid-template-columns: minmax(100px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.settings-page textarea {
    min-height: 150px;
    resize: none;
    border: 1px solid #ccc;
}
.settings-page .email {
    width: calc(100% - 80px);
    margin-right: 10px;
    display: inline-flex;
}
/* Start security-info */
.settings-page .security-info .Enable {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
/* End security-info */
/* Start social-info */
.settings-page .social-info i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: 0.3s;
}
.settings-page .social-info input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding-left: 15px;
    border-radius: 0 6px 6px 0;
}
.settings-page .social-info > div:focus-within i {
    color: black;
}
/* End social-info */
/* Start widgets Control */
.widgets-control .control input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}
.widgets-control .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.widgets-control .control label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
    border-radius: 4px;
    margin-top: -9px;
    transition: 0.3s;
}
.widgets-control .control label:hover::before {
    border-color: var(--blue-alt-color);
}
.widgets-control .control label::after {
    position: absolute;
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    top: 50%;
    left: 0px;
    margin-top: -9px;
    background-color: var(--blue-color);
    border-radius: 4px;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
    transform: scale(1);
}
/* End widgets Control */
/* Start backup manager */
.backup-manager input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}
.backup-manager .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.backup-manager .date label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
    margin-top: -11px;
    transition: 0.3s;
}
.backup-manager .date label:hover::before {
    border-color: var(--blue-alt-color);
}
.backup-manager .date label::after {
    position: absolute;
    content: "";
    top: 3px;
    left: 5px;
    background-color: var(--blue-color);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transform: scale(0);
    transition: 0.3s;
}
.backup-manager .date input[type="radio"]:checked + label::before {
    border-color: var(--blue-color);
}
.backup-manager .date input[type="radio"]:checked + label::after {
    transform: scale(1);
}
.backup-manager .servers {
    border-top: 1px solid #eee;
    padding-top: 20px;
}
@media(max-width:767px) {
    .backup-manager .servers {
        flex-direction: column;
    }
}
.backup-manager .servers .server {
    border: 2px solid #eee;
    position: relative;
}
.backup-manager .servers .server label {
    cursor: pointer;
}
.backup-manager .servers input[type="radio"]:checked + .server {
    color: var(--blue-color);
    border-color: var(--blue-color);
}
/* End backup manager */
/* End Settings page */
@keyframes change-color {
    0% {
        background-color: var(--blue-color);
    }
    100% {
        background-color: white;
    }
}